.PortfolioHeroSection {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

.Portfolio-Badge span {
    font-family: 'Manrope';
    font-weight: 700;
    color: var(--Primary);
}

.Portfolio-Heading h2 {
    font-size: 2.75rem;
    font-weight: 600;
}

.Portfolio-Description p {
    font-family: 'Manrope';
    color: var(--Text-Muted);
    max-width: 30rem;
    text-align: center;
}

/* 768px */

@media (max-width:768px) {
    .PortfolioHeroSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .Portfolio-Badge span {
        font-size: .85rem;
    }


    .Portfolio-Heading h2 {
        font-size: 2.25rem;
    }

    .Portfolio-Description p {
        font-size: .85rem;
        text-align: left;
    }
}